@use '../mixins';
@use '../main/variables';

.data-filter {
  $root: &;
  cursor: pointer;

  &__title {
    display: inline-flex;
    align-items: center;
    position: relative;
    @include mixins.animate-transition(color);

    &:after {
      top: -6px;
      position: relative;
      margin-left: 8px;
      content: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.89235 0.253496C4.73008 0.0898395 4.51582 2.7968e-07 4.28614 2.9976e-07C4.05702 3.1979e-07 3.84162 0.0898396 3.6805 0.253496L1.0254 3.01277C0.802003 3.2388 0.802003 3.60445 1.0254 3.83048C1.24823 4.05651 1.6099 4.05651 1.8333 3.83048L4.28614 1.27549L6.73955 3.83048C6.96295 4.05651 7.32405 4.05651 7.54745 3.83048C7.77085 3.60445 7.77085 3.2388 7.54745 3.01277L4.89235 0.253496Z' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.89235 0.253496C4.73008 0.0898395 4.51582 2.7968e-07 4.28614 2.9976e-07C4.05702 3.1979e-07 3.84162 0.0898396 3.6805 0.253496L1.0254 3.01277C0.802003 3.2388 0.802003 3.60445 1.0254 3.83048C1.24823 4.05651 1.6099 4.05651 1.8333 3.83048L4.28614 1.27549L6.73955 3.83048C6.96295 4.05651 7.32405 4.05651 7.54745 3.83048C7.77085 3.60445 7.77085 3.2388 7.54745 3.01277L4.89235 0.253496Z' fill='%230B1739'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &:before {
      position: absolute;
      right: 0;
      content: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.6812 3.7465C3.84346 3.91016 4.05772 4 4.28741 4C4.51652 4 4.73192 3.91016 4.89305 3.7465L7.54814 0.987232C7.77154 0.761203 7.77154 0.395551 7.54814 0.169522C7.32531 -0.0565073 6.96364 -0.0565073 6.74024 0.169522L4.28741 2.72451L1.834 0.169522C1.6106 -0.0565073 1.2495 -0.0565073 1.0261 0.169522C0.802701 0.395551 0.802701 0.761203 1.0261 0.987232L3.6812 3.7465Z' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.6812 3.7465C3.84346 3.91016 4.05772 4 4.28741 4C4.51652 4 4.73192 3.91016 4.89305 3.7465L7.54814 0.987232C7.77154 0.761203 7.77154 0.395551 7.54814 0.169522C7.32531 -0.0565073 6.96364 -0.0565073 6.74024 0.169522L4.28741 2.72451L1.834 0.169522C1.6106 -0.0565073 1.2495 -0.0565073 1.0261 0.169522C0.802701 0.395551 0.802701 0.761203 1.0261 0.987232L3.6812 3.7465Z' fill='%230B1739'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }

  &:hover {
    color: variables.$color-green;
  }

  &--unfiltered {
    cursor: initial;

    &:hover {
      color: inherit;
    }

    #{$root} {
      &__title {
        &:after,
        &:before {
          display: none;
        }
      }
    }
  }

  &--up {
    #{$root} {
      &__title {
        &:after {
          content: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.89235 0.253496C4.73008 0.0898395 4.51582 2.7968e-07 4.28614 2.9976e-07C4.05702 3.1979e-07 3.84162 0.0898396 3.6805 0.253496L1.0254 3.01277C0.802003 3.2388 0.802003 3.60445 1.0254 3.83048C1.24823 4.05651 1.6099 4.05651 1.8333 3.83048L4.28614 1.27549L6.73955 3.83048C6.96295 4.05651 7.32405 4.05651 7.54745 3.83048C7.77085 3.60445 7.77085 3.2388 7.54745 3.01277L4.89235 0.253496Z' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.89235 0.253496C4.73008 0.0898395 4.51582 2.7968e-07 4.28614 2.9976e-07C4.05702 3.1979e-07 3.84162 0.0898396 3.6805 0.253496L1.0254 3.01277C0.802003 3.2388 0.802003 3.60445 1.0254 3.83048C1.24823 4.05651 1.6099 4.05651 1.8333 3.83048L4.28614 1.27549L6.73955 3.83048C6.96295 4.05651 7.32405 4.05651 7.54745 3.83048C7.77085 3.60445 7.77085 3.2388 7.54745 3.01277L4.89235 0.253496Z' fill='%233EB57C'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        &:before {
          content: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.6812 3.7465C3.84346 3.91016 4.05772 4 4.28741 4C4.51652 4 4.73192 3.91016 4.89305 3.7465L7.54814 0.987232C7.77154 0.761203 7.77154 0.395551 7.54814 0.169522C7.32531 -0.0565073 6.96364 -0.0565073 6.74024 0.169522L4.28741 2.72451L1.834 0.169522C1.6106 -0.0565073 1.2495 -0.0565073 1.0261 0.169522C0.802701 0.395551 0.802701 0.761203 1.0261 0.987232L3.6812 3.7465Z' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.6812 3.7465C3.84346 3.91016 4.05772 4 4.28741 4C4.51652 4 4.73192 3.91016 4.89305 3.7465L7.54814 0.987232C7.77154 0.761203 7.77154 0.395551 7.54814 0.169522C7.32531 -0.0565073 6.96364 -0.0565073 6.74024 0.169522L4.28741 2.72451L1.834 0.169522C1.6106 -0.0565073 1.2495 -0.0565073 1.0261 0.169522C0.802701 0.395551 0.802701 0.761203 1.0261 0.987232L3.6812 3.7465Z' fill='%23E2E2E2'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  &--down {
    #{$root} {
      &__title {
        &:after {
          content: url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.0345 0.253496C3.87223 0.0898395 3.65798 2.7968e-07 3.42829 2.9976e-07C3.19918 3.1979e-07 2.98377 0.0898396 2.82265 0.253496L0.167554 3.01277C-0.0558463 3.2388 -0.0558462 3.60445 0.167554 3.83048C0.390384 4.05651 0.752053 4.05651 0.975454 3.83048L3.42829 1.27549L5.8817 3.83048C6.1051 4.05651 6.4662 4.05651 6.6896 3.83048C6.913 3.60445 6.913 3.2388 6.6896 3.01277L4.0345 0.253496Z' fill='%23E2E2E2'/%3E%3C/svg%3E%0A");
        }

        &:before {
          content: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.6812 3.7465C3.84346 3.91016 4.05772 4 4.28741 4C4.51652 4 4.73192 3.91016 4.89305 3.7465L7.54814 0.987232C7.77154 0.761203 7.77154 0.395551 7.54814 0.169522C7.32531 -0.0565073 6.96364 -0.0565073 6.74024 0.169522L4.28741 2.72451L1.834 0.169522C1.6106 -0.0565073 1.2495 -0.0565073 1.0261 0.169522C0.802701 0.395551 0.802701 0.761203 1.0261 0.987232L3.6812 3.7465Z' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.6812 3.7465C3.84346 3.91016 4.05772 4 4.28741 4C4.51652 4 4.73192 3.91016 4.89305 3.7465L7.54814 0.987232C7.77154 0.761203 7.77154 0.395551 7.54814 0.169522C7.32531 -0.0565073 6.96364 -0.0565073 6.74024 0.169522L4.28741 2.72451L1.834 0.169522C1.6106 -0.0565073 1.2495 -0.0565073 1.0261 0.169522C0.802701 0.395551 0.802701 0.761203 1.0261 0.987232L3.6812 3.7465Z' fill='%233EB57C'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}
