@use '../main/variables';

.main {
  padding: 48px 54px;

  @media (min-width: variables.$break-point-lg) {
    padding: 96px 80px;
  }

  &__scroll-top {
    position: fixed;
    right: 32px;
    bottom: 32px;
  }
}
